<mat-toolbar class="mat-elevation-z10" color="primary" fxLayout="row">
  <div fxFlex fxLayout="row" fxLayoutAlign="flex-start" fxHide.xs>
    <h1 class="menu-home" [routerLink]="'/'" style="cursor: pointer;">ICON Metaverse Gallery</h1>
    <ul fxLayout fxLayoutGap="0.5rem" class="menu-items">
      <li><a mat-button [routerLink]="'/galleries'" routerLinkActive="active"> Galleries </a></li>
      <li><a mat-button [routerLink]="'/rooms'" routerLinkActive="active"> Rooms For Rent </a></li>
      <li><a mat-button [routerLink]="'/artworks'" routerLinkActive="active"> Artworks </a></li>
      <li><a mat-button [routerLink]="'/about'" routerLinkActive="active"> About </a></li>
    </ul>
  </div>
  <div fxFlex fxLayout="row" fxLayoutAlign="flex-end" fxHide.xs>
    <button *ngIf="myWallet != null" mat-flat-button color="primary" (click)="openDisconnectWalletDialog()">
      <mat-icon>account_balance_wallet</mat-icon>
      <span>{{myAddress}}</span>
    </button>
    <button *ngIf="myWallet == null" mat-flat-button color="primary" (click)="openConnectWalletDialog()">
      <mat-icon>account_balance_wallet</mat-icon>
      <span>Connect Wallet</span>
    </button>
  </div>

  <!-- mobile responsive -->
  <div fxFlex fxLayout="row" fxLayoutAlign="flex-start" fxHide.gt-xs>
    <a mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </a>
    <h1 class="menu-home" [routerLink]="'/'" style="cursor: pointer;">ICON Metaverse Gallery</h1>
    <mat-menu #menu="matMenu">
      <button mat-menu-item [routerLink]="['/galleries']">Galleries</button>
      <button mat-menu-item [routerLink]="['/rooms']">Rooms For Rent</button>
      <button mat-menu-item [routerLink]="['/artworks']">Artworks</button>
      <button mat-menu-item [routerLink]="['/about']">About</button>
    </mat-menu>
  </div>
  <div fxFlex fxLayout="row" fxLayoutAlign="flex-end" fxHide.gt-xs>
    <a mat-icon-button (click)="openWalletDialog()">
      <mat-icon>account_balance_wallet</mat-icon>
    </a>
  </div>
</mat-toolbar>


<ng-template #connectWalletDialogRef>
  <div>
    <h2 mat-dialog-title>Connect Wallet</h2>
    <mat-dialog-content>

      <div>
        You don't have wallet. <a href="#" onclick="return false" (click)="createNewWallet()">Click here to create new
          wallet</a>
      </div>

      <mat-form-field fxFlexFill class="mt-4">
        <mat-label>Private key</mat-label>
        <input matInput [(ngModel)]="privateKey" placeholder="import your private key here...">
      </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close>Cancel</button>
      <button mat-flat-button [mat-dialog-close]="'connect'" color="primary" cdkFocusInitial>Connect</button>
    </mat-dialog-actions>
  </div>
</ng-template>

<ng-template #disconnectWalletDialogRef>
  <div>
    <h2 mat-dialog-title>Disconnect Wallet</h2>
    <mat-dialog-content>
      <div class="mt-2">Address: <strong> {{myWallet.getAddress()}}</strong></div>
      <div class="mt-2">Balance: <strong>{{myBalance}}</strong> ICX</div>
      <div class="mt-4">Are you sure you want to disconnect the wallet?</div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close>Cancel</button>
      <button mat-flat-button [mat-dialog-close]="'disconnect'" color="warn" cdkFocusInitial>Disconnect</button>
    </mat-dialog-actions>
  </div>
</ng-template>