.menu-home {
    display: inline-flex;
    vertical-align: middle;
    align-items: center;
    cursor: pointer;
    margin-right: 1rem;
}

.menu-items {
    margin: 0;
    padding: 0;
    list-style: none;
}

mat-toolbar {
    position: sticky;
    position: -webkit-sticky;
    top: 0px;
    z-index: 999;

    a {
        text-decoration: none;
        color: white;
    }
    
    a:hover,
    a:active {
        color: lightgray;
    }
}
